body{
	background-color:#fff;
}

.container{
  border: 1px solid;
    display: block;
    height: 762px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 633px;
}

.header{
	position:relative;
	top:0%;
	left:0%;
	width:100% !important;
	height:7% !important;
	background-color:#3F3A9C;
	display:block;
	overflow:hidden;
}

.content{
	position:relative;
	top:0%;
	left:0%;
	width:100% !important;
	height:93% !important;
	background-color:#ECEAEB;
	display:block;
	overflow:hidden;
}

.rows{
	display:block;
	height:10.6% !important;
}

.imgsDiv{
	display: inline-block;
	width:30% !important;
	height:100% !important;
	text-align:center;
	vertical-align:middle;
}
.imgs{
	margin-top:10%;
	cursor:pointer;

}
.txt{
	display: inline-block;
	width:95% !important;
	height:100% !important;
	
}

#jp_container_1{
 height: 56%;
    left: 7%;
    position: absolute;
    top: 20%;
    width: 89%;
	display:none;
}
.close-bt{
	text-align:right;
	cursor:pointer;
	color:black;
}

video{
	width:360;
}

.subtopic{
	font-weight:bold;
}



table td{
	padding-left:10px;
	padding-right:10px;
}

table td{
	border:1px solid #333;
}

/*#img_note{
  width:28%;	
}

#img_glossary{
	width:36%;
}

#img_bookmark{
	width:28%;
}

#img_highlight{
	width:36%;
}

#img_zoom{
	height: 50%;
    width: 24%;
}

#img_minus{
	 height: 48%;
    width: 28%;
}

#img_Search{
}

#img_help{
	
}*/